<h1>Brainstorm</h1>
<h2><%= @challenge.problem %></h2>
<div>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>

  <timer
    :off="<%= @challenge.expired %>"
    :time="<%= @challenge.session %>"
    redirect_to="<%= challenge_result_path @challenge %>"
  ></timer>

  <div>
    <%= form_for(@answer, url: challenge_answer_index_path(:challenge_id => @challenge.id)) do |f| %>
        <%=  f.text_field :text, { :autofocus => true } %>
    <% end %>
  </div>
</div>

<br>
<br>

<%= link_to ">>>", challenge_result_path(@challenge) %>
